@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$form-field-border-color: #ccc;
$form-field-border-color-focus: #4d90fe;

main {
  //   background: royalblue;
  font-family: "Open Sans", sans-serif;
  max-width: 368px;
  min-width: 358px;
  min-height: 60vh;
  max-height: 70vh;
}

.input-container {
  margin-top: 2rem;
  padding: 10px;
  display: grid;

  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000029;
  border-radius: 12px;
  opacity: 1;

  p {
    // background: royalblue;
    margin: 5px;
  }

  .form-field {
    position: relative;
    padding: 0 10px 0px 0px;
    height: 50px;
    display: grid;

    background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--azul-plomo-50-);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #abb9c780;
    border-radius: 6px;
    opacity: 1;

    label {
      position: absolute;
      transition: all 0.2s linear;
      margin-top: 20px;
      padding-left: 5px;

      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-22)
        var(--unnamed-font-family-open-sans);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--azul-plomo);
      text-align: left;
      //   font: normal normal normal 12px/22px Open Sans;
      font: 1rem;
      letter-spacing: 0px;
      color: #abb9c7;
      opacity: 1;
    }

    input {
      margin-top: 1rem;
      width: 100%;
      padding-left: 10px;
      height: 30px;
      background: transparent;
      border: none;
      font-size: 1rem;
      color: #413e4d;
    }

    input:focus {
      outline: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      transform: translateY(-18px);
      left: 5px;
      font-weight: 500;
      z-index: 10;
      color: #abb9c7;
      font-size: 0.7rem;
      transition: all 0.2s linear;
    }
  }

  .form-field:focus-within {
    border: 2px solid #413e4d;
  }
}

.head {
  .logo-container {
    display: grid;
    place-items: center;
    padding: 0;
    padding: 10px;
    opacity: 1;
  }

  h2 {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 40px/55px
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal bold 40px/55px Open Sans;
    letter-spacing: 0px;
    color: #413e4d;
    opacity: 1;
    margin: 0;
  }

  h5 {
    margin: 0;
    text-align: center;

    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #413e4d;
    opacity: 1;
  }
}

.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
  top: 0.9rem;
  left: 0.8rem;
  font-weight: 500;
  z-index: 10;
  color: transparent;
  color: #2afd00;
}

.info {
  font-size: 10px;
  color: crimson;
  text-align: left;
  margin-left: 20px;
}

.err {
  /*ESTILOS DE ERROR*/
  border: 1px solid crimson;
  box-shadow: 0px 0px 4px 1px crimson;
  color: crimson;
}

.button-container {

    margin-top: 2em;
    display: grid;
    justify-content: center;
    align-items: center;
  button {
    border: none;
    padding: 10px;
    color: white;
    background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
    background: #dd3542 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    &:hover{
    background: #ce2f3c 0% 0% no-repeat padding-box;
        cursor: pointer;
    }
  }

  p{
    margin: 2em;
    font-size: .7rem;
    text-decoration: underline;
    &:hover{
        color: royalblue;
        cursor: pointer;
    }
  }
}
