
<main>
    <section class="head">
        <div class="logo-container">
            <img src="../../assets/img/Grupo 258.png" alt="LOGO DE SUFIPAY">
        </div>
        <h2 class="title">Sufipay</h2>
        <h5>Administrador comercial</h5>
    </section>
    <section class="input-container">
        <p class="info"></p>
        <div class="form-field">
            <input id="username" type="text"  placeholder=" " required>
            <label for="username">Usuario</label>
          </div>

        <p class="info"></p>
          <div class="form-field">
            <input id="password" type="password" placeholder=" " required>
            <label for="password">Contraseña</label>
            <i class="fa-solid fa-user icon-input"></i>
          </div>    
    </section>
    <section class="button-container">
        <button type="button">INGRESAR</button>
        <p>No recuerdo mi contraseña</p>
    </section>
</main>
