@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

main {
  // background: red;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

form{
  z-index: 10;
}

.rhombuses-up {
  position: absolute;
  width: 550px;
  top: -110px;
  right: -250px;
  transition: all 0.2s linear;
}

.points-up {
  position: absolute;
  left: 30vh;
  top: 35vh;
  transition: all 0.2s linear;
}

.circle-up {
  position: absolute;
  left: 150px;
  transition: all 0.2s linear;
}

.rhombuses-down {
  position: absolute;
  width: 550px;
  bottom: -250px;
  left: -150px;
  transition: all 0.4s ease;
}

.points-dowm{
  position: absolute;
  bottom: 15vh;
  right: 18vw;
  transition: all 0.2s linear;
}

.circle-down {
  position: absolute;
  bottom: 30vh;
  right: 17vw;
  transition: all 0.2s linear;
}

.head {
  .logo-container {
    display: grid;
    place-items: center;
    padding: 0;
    padding: 10px;
    opacity: 1;
  }

  h2 {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) 40px/55px
      var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal bold 40px/55px Open Sans;
    letter-spacing: 0px;
    color: #413e4d;
    opacity: 1;
    margin: 0;
  }

  h5 {
    margin: 0;
    text-align: center;

    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-22) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(---413e4d-input-color);
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #413e4d;
    opacity: 1;
  }
}

.input-container {
  margin-top: 2rem;
  padding: 10px;
  display: grid;

  background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000029;
  border-radius: 12px;
  opacity: 1;

  p {
    margin: 5px;
  }

  .form-field {
    position: relative;
    padding: 0 10px 0px 0px;
    height: 50px;
    display: grid;

    background: var(--white_-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--azul-plomo-50-);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #abb9c780;
    border-radius: 6px;
    opacity: 1;

    label {
      position: absolute;
      transition: all 0.2s linear;
      margin-top: 20px;
      padding-left: 5px;

      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) 12px / var(--unnamed-line-spacing-22)
        var(--unnamed-font-family-open-sans);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--azul-plomo);
      text-align: left;
      //   font: normal normal normal 12px/22px Open Sans;
      font: 1rem;
      letter-spacing: 0px;
      color: #abb9c7;
      opacity: 1;
    }

    label:hover {
      cursor: text;
    }

    input {
      margin-top: 1rem;
      width: 100%;
      padding-left: 10px;
      height: 30px;
      background: transparent;
      border: none;
      font-size: 1rem;
      color: #413e4d;
    }

    input:focus {
      outline: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      transform: translateY(-18px);
      left: 5px;
      font-weight: 500;
      z-index: 10;
      color: #abb9c7;
      font-size: 0.7rem;
      transition: all 0.2s linear;
    }
  }

  .form-field:focus-within {
    border: 2px solid #413e4d;
  }
}

.button-container {
  margin-top: 2em;
  display: grid;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    padding: 10px;
    color: white;
    background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
    background: #dd3542 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    &:hover {
      background: #ce2f3c 0% 0% no-repeat padding-box;
      cursor: pointer;
    }
  }

  p {
    color: #707070;
    margin: 2em;
    font-size: 0.7rem;
    text-decoration: underline;
    &:hover {
      color: royalblue;
      cursor: pointer;
    }
  }
}

.info {
  font-size: 10px;
  color: rgba(220, 20, 60, 0.768);
  text-align: left;
  margin-left: 20px;
}

.error {
  /*ESTILOS DE ERROR*/
  box-shadow: 0px 0px 1px 1px rgba(220, 20, 60, 0.768);
  color: crimson;
}

@media screen and (max-width: 950px) {
  .rhombuses-down {
    left: -300px;
    transition: all 0.2s linear;
    width: 450px;
    bottom: -200px;
    left: -150px;
    transition: all 0.2s linear;
  }

  .points-dowm {
    width: 30px;
    bottom: 10vh;
    right: 15vw;
    transition: all 0.2s linear;
    transform: rotate(105deg);
  }

  .rhombuses-up {
    width: 450px;
    top: -40px;
    right: -200px;
    transition: all 0.2s linear;
  }

  .points-up {
    transform: rotate(105deg);
    width: 30px;
    top: 5vh;
    left: 5vw;
    transition: all 0.2s linear;
  }

  .circle-up{
    left: 100px;
    top: 55vh;
  }
}
