<section>
    <app-head [closeSection]="goHome"></app-head>
    <div class="container">
        <div class="title">
            <h1>Welcome to the Dashboard</h1>
        </div>
        <div class="section-name">
            <p>Modules</p>
        </div>
        <div class="buttons-container">
            <div class="button">
                <button><i class="fa-solid fa-sack-dollar"></i></button>
                <p>Usuarios</p>
            </div>
            <div class="button">
                <button><i class="fa-solid fa-table-cells"></i></button>
                <p>Estados de pago</p>
            </div>
            <div class="button">
                <button (click)="goToPage('upload-file')"><i class="fa-solid fa-arrows-rotate"></i></button>
                <p>Importar pagos</p>
            </div>

        </div>
    </div>
</section>